body {
  overflow: hidden;
}

.qgates-list {
  border-top: 5px solid #000;
}

.grid-container {
  width: 500px;
  /* Beispielgröße */
  height: 500px;
  border: 1px solid black;
}

#menu-bar {
  background-color: #f0f0f0;
}

#main-content {
  display: flex;
}

#toolbox {
  height: 95vh;
  background-color: #e0e0e0;
  padding: 10px;
}

#circuit-area {
  width: 100%;  /* Beispielwert */
  height: 98%; /* Beispielwert */
  overflow: scroll;
  position: relative;
}

#toolbox_grid{
  position: absolute;
  z-index: 0;
}

#shadowBlock {
  position: relative;
  z-index: 1;
}

#run_simulation{
  background-color: green;
}

.wire {
  position: absolute;
  z-index: 2;
}